header {
  background-color: var(--et-lemon);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem 4rem;
  cursor: pointer;

  .menu-container {
    ul {
      list-style: none;
      display: flex;
      gap: 20px;

      li {
        position: relative;
        font-size: 18px;
        cursor: pointer;

        @media screen and (max-width: 768px) {
          font-size: 20px;
        }

        &:hover {
          color: var(--et-brunt-rose);
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: var(--et-brunt-rose);
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
        }
        &.active {
          color: var(--et-brunt-rose);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;

    .menu-container ul {
      justify-content: center;
      padding: 0;
    }
  }
}
