header {
    background-color: var(--color-lemon);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 30px;

    .menu-container {
        ul {
            list-style: none;
            display: flex;
            gap: 20px;

            li {
                position: relative;
                font-size: 24px;
                cursor: pointer;

                &:hover {
                    color: var(--color-brunt-rose);
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: var(--color-brunt-rose);
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease-in-out;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}