<h2>Expense Tracker</h2>

<form (ngSubmit)="editExpenseId ? updateExpense() : addExpense()">

    <input type="text" placeholder="Title" [(ngModel)]="newExpense.title" name="title" required />
    <input type="number" placeholder="Amount" [(ngModel)]="newExpense.amount" name="amount" required />
    <!-- <input type="text" placeholder="Category" [(ngModel)]="newExpense.categoryId" name="category" required /> -->
    <select [(ngModel)]="newExpense.categoryId" name="categoryId" required>
        <option value="0">Select Category</option>
        <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
        </option>
    </select>

    <input type="date" [(ngModel)]="newExpense.date" name="date" required />

    <button type="submit">
        {{ editExpenseId ? 'Update Expense' : 'Add Expense' }}
    </button>
    <button *ngIf="editExpenseId" type="button" (click)="cancelEdit()">
        Cancel
    </button>
</form>

<hr />

<div class="select-category">
    <h3>Total expense: {{ getTotalExpense() }}Kr.</h3>
     <label for="category">Filter by Category</label> 
    <!-- <h3>Filter by Category</h3> -->
    <select [(ngModel)]="selectedCategoryId">
        <option [ngValue]="null">All Categories</option>
        <option *ngFor="let category of categories" [ngValue]="category.id">
            {{ category.name }}
        </option>
    </select>
</div>

<ul>
    @for (expense of getFilteredExpenses(); track $index) {
    <li>
        {{ expense.title }} - {{ expense.amount }}Kr. - {{getCategoryName(expense.categoryId)}}
        <button (click)="editExpense(expense)">InlineEdit</button>

        <button [routerLink]="['/expenses/edit', expense.id]">Edit</button>

        <button (click)="deleteExpense(expense.id!)">Delete</button>
    </li>
    }
</ul>

<hr />

<app-expense-chart [expenses]="getFilteredExpenses()" />