.chart-card {
  background: var(--et-white);
  padding: 2rem;
  border-radius: var(--container-border-radius);
  //margin-top: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.chart-wrapper {
  canvas {
    display: block;
    width: 100% !important;
    height: 300px !important;
  }
}
