<div class="auth-status-container mb-4">
  <label class="fs-4">Select status: </label>
  <form>
    @for (option of choiceOptions; track $index) {
      <div class="form-check">
        <input
          class="form-check-input"
          [formControl]="choice"
          [value]="option"
          type="radio"
          name="choice"
          id="{{ $index }}"
        />
        <label class="form-check-label" for="{{ $index }}">
          {{ option | titlecase }}
        </label>
      </div>
    }
  </form>
</div>
