.transaction-list-contaier {
  background: var(--et-white);
  padding: 2rem;
  border-radius: var(--container-border-radius);
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.15);
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 0.5rem;
  }

  .flex-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .list-header {
    .list-sort-wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .inline-form-group {
        margin-bottom: 12px;
      }
    }
  }
  .scroll-container {
    height: 550px;
    overflow: auto;
  }
  .transaction-list {
    list-style: none;
    padding: 0;

    li {
      border-radius: var(--container-border-radius);
      padding: 1rem;
      margin-bottom: 0.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 0.5rem;

        .item-name {
          margin-bottom: 0.75rem;
          text-align: center;
        }

        .actions {
          margin-top: 0.75rem;
        }
      }
    }
  }

  .income {
    border-left: 5px solid var(--et-amber) !important;
  }

  .expense {
    border-left: 5px solid var(--et-coral) !important;
  }

  .actions button {
    cursor: pointer;
    margin-left: 0.5rem;
  }

  small.category {
    padding: 0.25rem 0.5rem;
    border-radius: 25px;
    margin-left: 0.5rem;
  }

  .category-name-expense {
    background-color: rgba(249, 112, 104, 0.5);
  }

  .category-name-income {
    background-color: rgba(223, 228, 155, 0.5);
  }
}

app-modal p {
  margin-bottom: 16px;
}

.pagination-wrapper {
  margin: 30px 0 0;
  text-align: center;
}
