<div class="transaction-list-contaier">
  <div class="list-header">
    <h2>{{ sortTitle }}</h2>
    @if (showSorting) {
      <div class="list-sort-wrapper">
        <label for="list-sort">Sort</label>
        <select name="list-sort" id="list-sort" [formControl]="sortSelect">
          <option [ngValue]="null">Select</option>
          @for (item of selectSortObject; track $index) {
            <option [ngValue]="item.value">{{ item.label }}</option>
          }
        </select>
      </div>
    }
  </div>
  <ul class="transaction-list">
    <li
      *ngFor="
        let transaction of transactions ?? []
          | sortTransaction: sortBy?.orderBy : sortBy?.sortOrder
      "
      [class.income]="transaction.type === 'income'"
      [class.expense]="transaction.type === 'expense'"
    >
      <div class="info">
        <div class="item-name bold-text">{{ transaction.title }}</div>
        <div>
          <span> ${{ transaction.amount }}</span>
          <small
            class="category-name-expense"
            *ngIf="transaction.type === 'expense'"
          >
            {{ getCategoryName(transaction.categoryId) }}
          </small>
          <small
            class="category-name-income"
            *ngIf="transaction.type === 'income'"
          >
            {{ getCategoryName(transaction.categoryId) }}
          </small>
          <small>{{ transaction.date | date }}</small>
        </div>
      </div>

      <div class="actions">
        <button
          [routerLink]="['/transactions', transaction.id]"
          class="edit-btn"
        >
          Edit
        </button>
        <button (click)="onDelete(transaction.id!)" type="button">
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
