<div class="transaction-list-contaier">
  <div class="list-header flex-content mt-4">
    <h2>{{ sortTitle }}</h2>
    <div class="list-sort-wrapper">
      <button class="btn btn-primary" (click)="onAddOrEditClick()">
        + Add new transaction
      </button>
    </div>
  </div>

  @let isTransactionLoading = (isTransactionLoading$ | async) === true;

  @if (isTransactionLoading) {
    <div class="d-flex justify-content-center text-primary mb-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  } @else {
    @if ((isTransactionError$ | async) === true) {
      <p class="text-danger">Server error! No data found.</p>
    } @else {
      <div class="flex-content">
        @if (showSorting) {
          <p>
            Showing
            <span class="badge text-bg-info p-1 rounded-1">{{
              visibleTransactionCount
            }}</span>
            of
            <span class="badge text-bg-primary p-1 rounded-1">{{
              totalTransactionCount
            }}</span>
            transations
          </p>
        }

        <div class="inline-form-group">
          <select
            class="form-select"
            aria-label="Default select sort-by"
            name="list-sort"
            [formControl]="sortSelect"
          >
            <option [ngValue]="null">Sort by</option>
            @for (item of selectSortObject; track $index) {
              <option [ngValue]="item.value">{{ item.label }}</option>
            }
          </select>
        </div>
      </div>
    }
  }
  @let transactionList =
    transactions | sortTransaction: sortBy?.orderBy : sortBy?.sortOrder;
  <div cdkScrollable class="scroll-container">
    <ul class="transaction-list">
      @for (
        transaction of transactionList | slice: 0 : visibleTransactionCount;
        track $index
      ) {
        <li
          class="border"
          [class.income]="transaction.type === 'income'"
          [class.expense]="transaction.type === 'expense'"
        >
          <div class="info d-flex gap-3 align-items-center">
            <div class="item-name">{{ transaction.title }}</div>
            <small class="text-secondary">{{ transaction.date | date }}</small>
            <div>
              <small
                class="category"
                [ngClass]="{
                  'category-name-expense': transaction.type === 'expense',
                  'category-name-income': transaction.type === 'income',
                }"
              >
                {{ getCategoryName(transaction.categoryId) }}
              </small>
            </div>
            <span> {{ transaction.amount | currency: "NOK" : "symbol" }}</span>
          </div>

          <div class="actions">
            <button
              class="btn btn-primary"
              (click)="onAddOrEditClick(transaction, true)"
              title="Edit"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-secondary"
              (click)="onDeleteClick(transaction.id!)"
              type="button"
              title="Delete"
            >
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </li>
      }
    </ul>
  </div>
  @if (hasMore) {
    <div class="pagination-wrapper">
      <button class="btn btn-primary" (click)="showMore()">Show more</button>
    </div>
  }
</div>

@if (showModal) {
  <app-modal
    [header]="isEdit ? 'Edit transaction' : 'Add transaction'"
    (modalClose)="onModalClose()"
  >
    <app-transaction-add-edit
      [transaction]="selectedTransaction"
      [isEdit]="isEdit"
      (abort)="onModalClose()"
    ></app-transaction-add-edit>
  </app-modal>
}

@if (showConfirmationModal) {
  <app-modal header="Please Confirm" (modalClose)="onDeleteCancel()">
    <p>Are you sure you want to delete this transaction?</p>
    <button
      class="primary"
      (click)="onDeleteConfirmation()"
      [disabled]="isTransactionDeleting"
    >
      Yes
    </button>
    <button
      class="secondary"
      (click)="onDeleteCancel()"
      type="button"
      [disabled]="isTransactionDeleting"
    >
      No
    </button>
  </app-modal>
}
