button {
  color: var(--et-black);
  border: none;
  border-radius: 8px;
  line-height: 40px;
  height: 40px;
  padding: 0 16px;
  transition: all 0.2s ease;
  font-size: 1.125rem;
  max-width: fit-content;

  @media screen and (max-width: 768px) {
    // padding: 0.5rem;
    line-height: 0;
    font-size: 16px;
  }
}

button.primary {
  background-color: var(--et-vanilla);
  &:hover {
    background-color: var(--et-amber);
  }
}

button.secondary {
  background-color: transparent;
  border: 1px solid var(--et-light-grey);
  &:hover {
    background-color: var(--et-light-grey);
  }
}

button + button {
  margin-left: 16px;
}

button:disabled {
  background-color: var(--et-light-grey);
}

input:not([type="radio"]),
select {
  border: 1px solid var(--et-light-grey);
  height: 40px;
  padding: 0 16px;
  border-radius: 8px;
  font-size: 1.125rem;
  line-height: 1.2;
  width: min(450px, 100%);
  @media screen and (max-width: 768px) {
    font-size: 14px;
    height: 30px;
    padding: 0 8px;
  }
}

input:invalid,
select:invalid {
  background-color: var(--et-light-grey);
}

.inline-form-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

label {
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.form-group {
  label {
    display: block;
    margin-bottom: 8px;
  }
}
