.summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.card {
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--container-border-radius);
  text-align: center;
}

.income {
  color: var(--color-amber);
}

.expense {
  color: var(--color-coral);
}

.balance {
  color: var(--color-aqua);
}
