.summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  background: var(--et-white);
  padding: 1rem;
  border-radius: var(--container-border-radius);
  text-align: center;
}

.income {
  color: var(--et-amber);
}

.expense {
  color: var(--et-coral);
}

.balance {
  color: var(--et-aqua);
}
