.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 999;
}
.modal {
  width: min(600px, 90%);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background-color: white;
  border-radius: 16px;
  z-index: 1001;

  .header {
    padding: 24px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--et-light-grey);
  }
  .modal-content {
    padding: 24px;
  }
}
