<div class="edit-container">
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div class="radio-group mb-3">
      <label>Transaction type</label>
      <div class="inline-form-group">
        <input type="radio" value="income" formControlName="transactionType" />
        <label> Income </label>
      </div>
      <div class="inline-form-group">
        <input type="radio" value="expense" formControlName="transactionType" />
        <label> Expense </label>
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="trTitle">Title</label>
      <input
        type="text"
        id="trTitle"
        formControlName="title"
        placeholder="Title"
      />
      @if (
        transactionForm.controls.title.touched &&
        transactionForm.controls.title.invalid
      ) {
        <div class="text-danger">
          @if (transactionForm.controls.title.errors?.["required"]) {
            <span> Title is required </span>
          }
        </div>
      }
    </div>
    <div class="form-group mb-3">
      <label for="trAmount">Amount</label>
      <input
        type="number"
        id="trAmount"
        formControlName="amount"
        placeholder="Amount"
      />
      @if (
        transactionForm.controls.amount.touched &&
        transactionForm.controls.amount.invalid
      ) {
        <div class="text-danger">
          @if (transactionForm.controls.amount.errors?.["required"]) {
            <span> Amount is required </span>
          }
          @if (transactionForm.controls.amount.errors?.["min"]) {
            <span *ngIf=""> Amount must be greater than 0 </span>
          }
        </div>
      }
    </div>

    <div class="form-group mb-3">
      <label for="trCategoryId">Category</label>
      <select id="trCategoryId" formControlName="categoryId">
        <option value="">Select</option>
        @for (
          category of categories$
            | async
            | filterCategory
              : transactionForm.get("transactionType")?.value ?? "income";
          track $index
        ) {
          <option [value]="category.id">
            {{ category.name }}
          </option>
        }
      </select>
      @if (
        transactionForm.controls.categoryId.touched &&
        transactionForm.controls.categoryId.invalid
      ) {
        <div class="text-danger">
          @if (transactionForm.controls.categoryId.errors?.["required"]) {
            <span> Category is required </span>
          }
        </div>
      }
    </div>

    <div class="form-group mb-3">
      <label for="trTransactionDate">Transaction date</label>
      <input
        type="date"
        id="trTransactionDate"
        formControlName="transactionDate"
      />
      @if (
        transactionForm.controls.transactionDate.touched &&
        transactionForm.controls.transactionDate.invalid
      ) {
        <div class="text-danger">
          @if (transactionForm.controls.title.errors?.["required"]) {
            <span> Transaction date is required </span>
          }
        </div>
      }
    </div>

    <button type="submit" class="primary" [disabled]="isSaveLoading">
      {{ isEdit ? "Update" : "Add" }}
    </button>
    <button type="button" class="secondary" (click)="abort.emit()">
      Cancel
    </button>
  </form>
</div>
