.transaction-list-contaier {
  background: var(--color-white);
  padding: 2rem;
  border-radius: var(--container-border-radius);
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.15);
  width: 100%;

  @media (max-width: 768px) {
    padding: 0.5rem;
  }
  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .transaction-list {
    list-style: none;
    padding: 0;

    li {
      border-radius: var(--container-border-radius);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      margin-bottom: 0.7rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 0.5rem;

        .item-name {
          margin-bottom: 0.75rem;
          text-align: center;
        }

        .actions {
          margin-top: 0.75rem;
        }
      }
    }
  }

  .income {
    border-left: 5px solid var(--color-amber);
  }

  .expense {
    border-left: 5px solid var(--color-coral);
  }

  .actions button {
    margin-left: 0.5rem;
  }

  small {
    padding: 0.25rem 0.5rem;
    border-radius: 25px;
    margin-left: 0.5rem;
  }

  .category-name-expense {
    background-color: rgba(249, 112, 104, 0.5);
  }

  .category-name-income {
    background-color: rgba(223, 228, 155, 0.5);
  }
}
