.list {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.income {
  border-left: 5px solid #16a34a;
}

.expense {
  border-left: 5px solid #dc2626;
}

.actions button {
  margin-left: .5rem;
}

.danger {
  background: #dc2626;
  color: white;
}
