@let transactions = (transactions$ | async) || [];
@let filteredTransactions = transactions | filterTransaction: selectedCategoryId: fromDate: toDate;

<app-transaction-summary
  [transactions]="filteredTransactions">
</app-transaction-summary>

<app-transaction-add
  [categories]="categories"
  [transaction]="editingTransaction"
  (save)="saveTransaction($event)"
  (cancel)="editingTransaction = null">
</app-transaction-add>

<app-transaction-filter
  [categories]="categories"
  (categoryChange)="selectedCategoryId = $event"
  (fromDateChange)="fromDate = $event"
  (toDateChange)="toDate = $event">
</app-transaction-filter>

<app-transaction-list></app-transaction-list>

