@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./styles/bootstrap-init";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --color-bg: #f5f7fa;
  --color-text: #1f2937;
  --color-muted: #6b7280;
  --color-light-grey: #e3e3e3;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #212738;
  --color-brunt-rose: #8d4c50;
  --color-coral: #f97068;
  --color-lemon: #d1d646;
  --color-amber: #d8dd71;
  --color-vanilla: #dfe49b;
  --color-aqua: #57c4e5;

  --container-border-radius: 12px;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--color-light-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 600;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  @media screen and (max-width: 768px) {
    font-size: 28px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 600;
  @media screen and (max-width: 768px) {
    font-size: 22px;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.bold-text {
  font-weight: 600;
}

@import "./styles/forms";
