*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

:root {
  // --color-primary: #4f46e5;
  // --color-secondary: #22c55e;
  // --color-accent: #f59e0b;
  // --color-danger: #ef4444;

  --color-bg: #f5f7fa;
  --color-text: #1f2937;
  --color-muted: #6b7280;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #212738;
  --color-brunt-rose: #8d4c50;
  --color-coral: #f97068;
  --color-lemon: #d1d646;
  --color-amber: #d8dd71;
  --color-vanilla: #dfe49b;
  --color-aqua: #57c4e5;

  --block-spacing: 30px;
  --container-border-radius: 12px;
  //--mobile-break-point : 768px;
}

h1 {
  font-size: 36px;
  @media (max-width: 768px) {
    font-size: 28px;
  }
}

h2 {
  font-size: 28px;
  margin-bottom: var(--block-spacing);

  @media (max-width: 768px) {
    font-size: 22px;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

.bold-text {
  font-weight: bold;
}

button {
  background: var(--color-gray);
  color: var(--color-white);
  border-radius: 8px;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;

  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

button[type="submit"],
.edit-btn {
  background-color: var(--color-amber);
  color: var(--color-black);

  &:hover {
    background-color: var(--color-vanilla);
  }
}

button[type="button"] {
  background-color: var(--color-brunt-rose);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-coral);
  }
}

input,
select {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  font-size: 1rem;
  margin: 0 0.4rem 0.7rem;
}

select:invalid {
  color: #9ca3af;
}
