.filter-wrapper {
  background: var(--color-white);
  padding: 2rem 2rem 0;
  border-radius: var(--container-border-radius) var(--container-border-radius) 0 0;
  margin-top: 2rem;

  .filters {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 12px;
    

    select,
    input {
      padding: .5rem;
      border-radius: 8px;
      border: 1px solid #e5e7eb;
    }
    @media (max-width: 768px) {
    flex-direction: column;
  }
  }
}