<div class="filter-wrapper">
  <h2>Filter transactions</h2>
  <div class="filters">
    <form [formGroup]="filterForm">
      <div class="radio-group">
        <label>
          <input
            type="radio"
            value="income"
            formControlName="transactionType"
          />
          Income
        </label>
        <label>
          <input
            type="radio"
            value="expense"
            formControlName="transactionType"
          />
          Expense
        </label>
      </div>
      <select formControlName="categoryId">
        <option value="">Select Category</option>
        <option
          *ngFor="
            let category of categories
              | filterCategory
                : getFormControlByName('transactionType')?.value ?? 'income'
          "
          [value]="category.id"
        >
          {{ category.name }}
        </option>
      </select>

      <label for="fromDate">From</label>
      <input type="date" id="fromDate" formControlName="fromDate" />

      <label for="toDate">To</label>
      <input type="date" id="toDate" formControlName="toDate" />
    </form>
  </div>
</div>
