.filter-wrapper {
  background: var(--color-white);
  padding: 2rem;
  border-radius: var(--container-border-radius);
  //margin-top: 2rem;
  margin-bottom: 1.5rem;

  .radio-group {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;

    label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
    }
  }

  .filters {
    display: flex;
    gap: 1rem;
    // padding: 1rem;
    border-radius: 12px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
