.filter-wrapper {
  background: var(--color-white);
  padding: 2rem;
  border-radius: var(--container-border-radius);
  //margin-top: 2rem;
  margin-bottom: 1.5rem;

  .radio-group {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;

    label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
    }
  }

  input,
  select {
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  .filters {
    display: flex;
    gap: 1rem;
    // padding: 1rem;
    border-radius: 12px;

    select,
    input {
      padding: 0.5rem;
      border-radius: 8px;
      border: 1px solid #e5e7eb;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
