<div class="filter-wrapper">
  <h2>Filter transactions</h2>
  <div class="filters">
    <form [formGroup]="filterForm">
      <div class="d-md-flex gap-5 justify-content-between">
        <div class="radio-group mb-2">
          <label>Transaction type</label>
          <div class="form-check">
            <label class="d-flex gap-2 form-check-label">
              <input
                class="form-check-input"
                type="radio"
                value="income"
                formControlName="transactionType"
              />Income</label
            >
          </div>

          <div class="form-check">
            <label class="d-flex gap-2 form-check-label">
              <input
                class="form-check-input"
                type="radio"
                value="expense"
                formControlName="transactionType"
              />Expense</label
            >
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="selectCategory" class="form-select-label">
            Select category</label
          >
          <select
            formControlName="categoryId"
            id="selectCategory"
            class="form-select"
            aria-label="Default select category-select"
          >
            <option value="">Select here</option>
            <option
              *ngFor="
                let category of categories
                  | filterCategory
                    : getFormControlByName('transactionType')?.value ?? 'income'
              "
              [value]="category.id"
            >
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="form-control-inline">
          <div class="mb-2">
            <label for="fromDate" class="form-label">From</label>
            <input
              class="form-control"
              type="date"
              id="fromDate"
              formControlName="fromDate"
            />
          </div>
          <div class="">
            <label for="toDate" class="form-label">To</label>
            <input
              class="form-control"
              type="date"
              id="toDate"
              formControlName="toDate"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
